@font-face {
    font-family: "Poppins",
    src: url("Poppins-Regular.ttf")
}

* {
    font-family: "Poppins", sans-serif;
    background-color: #131313;
    color: #eee;
}

a {
    text-decoration: none;
    background-color: #333;
    display: inline-block;
    padding: .5rem;
    margin: .2rem;
}

a:hover {
    background-color: #444;
}
