@font-face {
    font-family: Poppins;
    src: url("Poppins-Regular.ttf") format("truetype");
}

:root {
    --col-fg: #ddd;
    --col-bg: #300;
    --col-acc: #b8860b; /* darkgoldenrod */
}

html {
    font-family: Poppins;
    height: 100%;
}

body {
    background: var(--col-bg);
    color: var(--col-fg);
    width: 80%;
    margin: auto;
}

h1, h2{
    color: var(--col-acc);
    margin-bottom: 0px;
}

p {
    margin: 0 1rem;
}

a {
    color: var(--col-fg);
}